<IfModule mod_rewrite.c>
    Options -Multiviews 
    RewriteEngine On 
    RewriteBase /Hamza_Meski_Wiki/public 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
